.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-button{
  width: 60vw;
  display: flex;
  justify-content: space-between;

}

.Previous-button{
  margin-right: auto;
  margin-top: 5px;
}

.Next-button{
  margin-left: auto;
  margin-top: 5px;
}

.btn{
  height: 40px;
  width: auto;

}
